{% extends "base.html" %}
{% block content %}
  <div class="flex">
      <div id="chart_student" class="flex-1 m-3 p-2 border-solid border-2 border-slate-100 h-80 shadow-md items-center"></div>
      <div id="chart_staff" class="flex-1 m-3 p-2 border-solid border-2 border-slate-100 shadow-md"></div>
  </div>
  <div class="flex">
      <div class="flex-1 m-3 p-2 border-solid border-2 border-slate-100 h-80 shadow-md"></div>
      <div class="flex-1 m-3 p-2 border-solid border-2 border-slate-100 shadow-md"></div>
  </div>

  <script>
    var options = {
      chart: {
        type: 'pie',
      },
      series: [{{ male_count }}, {{ female_count }}],
      labels: ['Male', 'Female'],
    }

    var chart = new ApexCharts(document.querySelector('#chart_student'), options);
    chart.render();
  </script>

  <script>
    var options = {
      chart: {
        type: 'donut',
      },
      series: [{{ teachers }}, {{staff}}],
      labels: ['teachers', 'staff'],
    }

    var chart = new ApexCharts(document.querySelector('#chart_staff'), options);
    chart.render();
  </script>
{% endblock %}


