{% extends "base.html" %}



{% block content %}

<div class="relative min-h-screen flex">
    <div class="rounded bg-blue-900 text-white w-64 space-y-6 mr-16">
        <a href="#" class="flex space-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
            </svg>
            <span class=" text-2xl"> Portal Menu </span>
              
        </a> 
         <nav> 
            <a class="block py-2.5 px-20"> 
            <button class="px-3 border-white border-2 w-24 h-10">Student </button>
            </a>
            <a class="block py-2.5 px-20"> 
                <button class="px-3 border-white border-2 w-24 h-10"> Teachers </button>
            </a>
            <a class="block py-2.5 px-20"> 
                <button class="px-3 border-white border-2 w-24 h-10">Subjects </button>
            </a>
            <a class="block py-2.5 px-20"> 
                <button class="px-3 border-white border-2 w-24 h-10"> Classes </button>
            </a>
            <a class="block py-2.5 px-20">
            <button class="px-3 border-white border-2 w-24 h-10">Notice </button>

            </a>
         </nav>  
    </div>

    <div class="grid grid-cols-3 gap-4">
        <div class=" rounded flex h-full aspect-w-1 aspect-h-1 bg-red-700"> 12345dhgfdh4sdsdsdfsdfdgdgfd2424</div>
        <div class="rounded flex h-full aspect-w-1 aspect-h-1 bg-yellow-200">12345dhgfdh4sdsdsdfsdfdgdgfd2424</div>
        <div class="rounded flex h-full aspect-w-1 aspect-h-1 bg-blue-600">12345dhgfdh4sdsdsdfsdfdgdgfd2424</div>
        <div class="rounded flex h-full aspect-w-1 aspect-h-1 bg-red-700">12345dhgfdh4sdsdsdfsdfdgdgfd2424</div>
        <div class="rounded flex h-full aspect-w-1 aspect-h-1 bg-yellow-200">12345dhgfdh4sdsdsdfsdfdgdgfd2424</div>
        <div class="rounded flex h-full aspect-w-1 aspect-h-1 bg-blue-600">12345dhgfdh4sdsdsdfsdfdgdgfd2424</div>
        <!-- more grid items -->
      </div>

</div>
{% endblock %}


