{% load tailwind_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% tailwind_preload_css %}
        {% tailwind_css %}
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script src="./TW-ELEMENTS-PATH/dist/js/index.min.js"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
            <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
            <script src="https://cdn.tailwindcss.com/3.2.4"></script>
            <script>
            tailwind.config = {
                darkMode: "class",
                theme: {
                fontFamily: {
                    sans: ["Roboto", "sans-serif"],
                    body: ["Roboto", "sans-serif"],
                    mono: ["ui-monospace", "monospace"],
                },
                },
                corePlugins: {
                preflight: false,
                },
            };
            </script>
    </head>
    <body>
        {% include 'header.html' %}
        <div class="flex">
            <div class=" bg-gradient-to-bl from-teal-600 via-slate-500 to-gray-400 text-white mr-3 min-h-screen">
                <a href="#" class="flex ">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
                    </svg>
                    <!-- <span class=" text-2xl bg-blend-darken hover:bg-black"> Menu </span> -->
                </a> 
                <nav> 
                <a class="block py-2.5 px-20"> 
                    <button 
                        class="px-3 border-white border-2 w-24 h-10 hover:bg-black text-white rounded-2xl"
                        data-te-toggle="modal"
                        data-te-target="#exampleModalLg"
                        data-te-ripple-init>
                        Student 
                    </button>
                </a>
                    <a class="block py-2.5 px-20"> 
                    <button class="px-3 border-white border-2 w-24 h-10 hover:bg-black text-white rounded-2xl"> Teachers </button> </a>
                    <a class="block py-2.5 px-20"> 
                    <button class="px-3 border-white border-2 w-24 h-10 hover:bg-black text-white rounded-2xl">Subjects </button></a>
                    <a class="block py-2.5 px-20"> 
                    <button class="px-3 border-white border-2 w-24 h-10 hover:bg-black text-white rounded-2xl"> Classes </button></a>
                    <a class="block py-2.5 px-20">
                        <button class="px-3 border-white border-2 w-24 h-10 hover:bg-black text-white rounded-2xl">Notice </button> </a>
                </nav>  
            </div>
            <div class="w-2/3">
                {% block content %}
                {% endblock %}
            </div>
            <div class="flex-1 m-3 p-2 rounded-2xl border-solid border-2 border-slate-100">
                
            </div>    
        </div>
    <!-- Modal -->
    {% include 'modals/modal1.html' %}
  
    </body>
</html>